/******************************
Project Colors
******************************/
/*#A55837 coconut
#4B342B acajou
#151414 licorice 
#96562A coconut (light)
#655344 umber*/


/******************************
General
******************************/

body {
    background-color: #655344;
}

#large-input {
    width: 300px;
    height: 192px;
    font-size: 16px;
    word-wrap: normal;
}

/*#nav {
    padding-top: 30px;
}*/


/******************************
Card Styling
******************************/
#card-container {
    margin-top: 20px;
}

.car-card {
    background-color: #96562A;
    margin-bottom: 5px;
    border: 1px solid black;
    color: white;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    border: none;
}

.selected {
    border: 5px solid black;
}

